@use "../../assets/variables" as *;
.order-container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: $background;
  display: flex;
  flex-direction: column;
  top: 60px;
  padding-top: 5%;

  @media (max-width: 700px) {
    justify-content: center;
  }
  .order {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    position: relative;

    @media (max-width: 1150px) {
      width: 60%;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
    h2,
    p {
      display: block;
      width: 80%;
      margin-bottom: 10px;
      .total{
        color: $yellow;	
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 5%;
      }
    }
  }
  form {
    background-color: $yellow;
    position: fixed;
    top: 50vh;
    transform: translateY(-50%);
    transition: all 0.2s;
    right: 5%;
    flex: 0.8;
    width: 30%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding-bottom: 20px;

    @media (max-width: 1150px) {
      width: 40%;
      right: 5%;
    }
    @media (max-width: 800px) {
      right: 0;
    }
    @media (max-width: 700px) {
      position: relative;
      width: 100%;
      top: auto;
      transform: none;
      flex: auto;
    }

    .formHead {
      grid-row: 1/3;
      grid-column: 1/3;
      p {
        font-size: 0.7rem;
      }
      hr {
        margin-top: 20px;
      }
    }
    .emailInput,
    .phoneInput,
    .addressInput {
      grid-column: 1/3;
    }
    div {
      align-self: center;
      justify-self: center;
      width: 80%;
      color: $white;
    }
    .nameInput {
      justify-self: end;
    }
    .lastnameInput {
      justify-self: start;
    }
    input {
      width: 100%;
      min-height: 35px;
      display: block;
      background-color: rgba(98, 104, 198, 1);
      border: 1px solid rgba(255, 255, 255, 0.267);
    }
    .formvalidation {
      grid-column: 1/3;

      width: 100%;
      height: max-content;
      bottom: 0;
      display: flex;
      flex-direction: column;

      gap: 20px;

      align-items: center;
      button {
        border: 2px solid $white;
      }
      hr {
        top: 0;
        height: 5px;
        width: 80%;
        background-color: $yellow;
      }
      div {
        display: flex;
        width: 100%;
        height: max-content;

        justify-content: space-evenly;
      }
    }
  }
}
