@use "../../assets/variables" as *;
.header-container {
    width: 100%;
  height: 100vh;
  background-color: $background;
  background: url(../../assets/backgroundHeader.jfif) no-repeat center;
  background-attachment: fixed;
  object-fit: cover;
  background-size: cover;
  @include flex(0);
  justify-content: center;
  align-items: center;
  position: relative;
  .background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 0;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.37);
    }
  h2 {
      z-index: 1;
    font-weight: 300;
    color: $white;
    font-size: 3.5rem;
    letter-spacing: 4px;
    line-height: 90px;
    mark {
      background-color: rgba(255, 255, 0, 0.678);
    }
    span{
        position: relative;
      display: inline-block;
      

    }
    p{
        position: relative;
        display: inline-block;
        overflow: hidden !important
    }
  }
};


@media (max-width: 600px) {
    .header-container {
      h2 {
    
        font-size: 3rem;
        letter-spacing: 4px;
        line-height: 90px;
       
      }
    }
    }